POSTGRES_DB=argus
POSTGRES_USER=argus
POSTGRES_PASSWORD=changeme

REDIS_PASSWORD=changeme

OPENSEARCH_INITIAL_ADMIN_PASSWORD=Changeme@123

CLICKHOUSE_DB=argus
CLICKHOUSE_USER=argus
CLICKHOUSE_PASSWORD=changeme

MINIO_ROOT_USER=argus
MINIO_ROOT_PASSWORD=changeme

NATS_USER=argus
NATS_PASSWORD=changeme

TRAEFIK_DASHBOARD_USER=admin
TRAEFIK_DASHBOARD_PASSWORD=changeme

NEXT_PUBLIC_AUTH_URL=http://localhost:8001
NEXT_PUBLIC_SCAN_URL=http://localhost:8002
